html,body {
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* 设置网页背景图片 */
    background:url('/assets/images/login_bg.jpg') no-repeat center;
    background-size: cover;
}

.loginAndRegBox {
    width: 400px;
    height: 310px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}

.title-box {
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center;

}

.reg-box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position:absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 32px;
}